html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* common styles */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  height: 100%;
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.42;
  height: 100%;
  font-family: "ubuntu", Arial, sans-serif;
}

main {
  position: relative;
}

.container {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section {
  height: 100vh;
}

.section-header {
  color: #2f3234;
  font-size: 4.5rem;
  font-family: "gagalin";
  text-transform: uppercase;
  font-weight: 400;
  line-height: 4.5rem;
}

.section-header_yellow {
  color: #f9b43b;
}

.section-header_white {
  color: #fff;
}

.btn {
  background-color: #e35028;
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 0.8125rem;
  font-weight: 500;
  padding: 0.5rem 0.9375rem 0.5625rem 1rem;
  text-transform: uppercase;
  display: inline-block;
}

/* common styles end */
.section-navigation {
  position: fixed;
  right: 50px;
  top: 100px;
}

.section-navigation .section-navigation_items {
  list-style-type: none;
}

.section-navigation .section-navigation_item a {
  margin-bottom: 15px;
  height: 6px;
  width: 6px;
  background: #fff;
  display: block;
  border-radius: 50%;
  position: relative;
}

.section-navigation .section-navigation_item a::after {
  content: '';
  border: 1px solid #fff;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  left: -5px;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.section-navigation .section-navigation_item.active a::after {
  opacity: 1;
}

.intro {
  background-image: url(../image/intro/video-bg.png), url(../image/intro/texture.png);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  padding: 0.75rem 0 2.5rem 0;
}

.intro .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro .main-header {
  position: relative;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .logo {
  max-width: 5.75rem;
  height: 4.3125rem;
}

.intro .to-order {
  margin-left: 0.9375rem;
}

.intro .navigation {
  margin-left: auto;
  max-width: 41.875rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.intro .navigation .navigation__items {
  list-style-position: inside;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 0.8125rem;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 41.875rem;
      flex-basis: 41.875rem;
}

.intro .navigation .navigation__item:first-child {
  list-style-type: none;
}

.intro .intro-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10vh;
}

.intro .intro-burger .intro-burger__image {
  position: relative;
  margin: 0 0.75rem 0 2.3125rem;
}

.intro .intro-burger .intro-burger__svg-drops {
  position: absolute;
  top: 16.5625rem;
  width: 28.1875rem;
  height: 15.0625rem;
}

.intro .intro-burger .intro-burger__info {
  max-width: 25.625rem;
  margin-top: 8.3125rem;
}

.intro .intro-burger .intro-burger__info p {
  font-family: "lifehack";
  color: #fff;
  font-size: 4.5rem;
  line-height: 4.0625rem;
  letter-spacing: -0.3125rem;
}

.intro .arrow-down {
  text-align: center;
}

.intro .arrow-down .arrow-down-svg {
  width: 1.8125rem;
  height: 0.875rem;
}

.the-best {
  background-image: url(../image/the-best/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.the-best .section-header {
  text-align: center;
  margin-bottom: 3.125rem;
}

.the-best .the-best__items {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.the-best .the-best__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 17.5625rem;
}

.the-best .the-best__item .the-best__svg {
  height: 5.5625rem;
}

.the-best .the-best__item h4 {
  text-align: center;
  margin: 1.875rem 0 1.5625rem;
  font-family: 'lifehack';
  font-size: 1.5rem;
}

.the-best .the-best__item p {
  text-align: center;
}

.dark-burger {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b), to(#f9b43b));
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  color: #fff;
}

.dark-burger .dark-burger__proffer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dark-burger .dark-burger__proffer > div {
  width: 50%;
}

.dark-burger .dark-burger__proffer-image {
  position: relative;
}

.dark-burger .dark-burger__proffer-image .dark-burger__proffer-kkal {
  width: 3.75rem;
  height: 3.75rem;
  text-align: center;
}

.dark-burger .dark-burger__proffer-image .dark-burger__proffer-kkal .dark-burger__kkal-svg {
  height: 3.75rem;
}

.dark-burger .dark-burger__proffer-image .dark-burger__proffer-kkal span {
  font-family: "gagalin";
  opacity: .5;
  font-size: 0.875rem;
  display: block;
}

.dark-burger .dark-burger__proffer-image .dark-burger__proffer-kkal span:nth-child(2) {
  font-size: 1.25rem;
  margin: -2.375rem 0 0.625rem 0.125rem;
}

.dark-burger .dark-burger__proffer-image .dark-burger__proffer-composition {
  position: absolute;
  left: 0;
  top: -5rem;
  width: 5.625rem;
  height: 5.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: #F08C33;
  border-radius: 0.25rem;
}

.dark-burger .dark-burger__proffer-image .dark-burger__proffer-composition .dark-burger__burger-svg {
  height: 2.75rem;
}

.dark-burger .dark-burger__proffer-image .dark-burger__proffer-composition div {
  font-family: "gagalin";
  font-size: 0.875rem;
  margin-top: 0.5625rem;
}

.dark-burger .dark-burger__proffer-info .section-header {
  margin-bottom: 3.5rem;
}

.dark-burger .dark-burger__proffer-info p {
  margin-bottom: 2.25rem;
}

.dark-burger .dark-burger__proffer-info .dark-burger__proffer-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dark-burger .dark-burger__proffer-info .dark-burger__proffer-price .price {
  line-height: 3.25rem;
  color: #e35028;
  font-family: "gagalin";
  font-size: 4.5rem;
  letter-spacing: -0.1119rem;
  margin-right: 1.875rem;
}

.dark-burger .dark-burger__proffer-info .dark-burger__proffer-price .price span {
  font-size: 1.875rem;
}

.dark-burger .dark-burger__proffer-info .dark-burger__proffer-price .btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.team {
  background-image: url(../image/team/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.team .container {
  max-width: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.team .team-people {
  width: 50%;
  padding: 0 0 0 6.25rem;
  background-color: #2f3234;
  opacity: .9;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .section-header {
  margin-bottom: 2.875rem;
}

.team .team-members {
  list-style-type: none;
}

.team .team-members .team-member {
  margin-bottom: 2.5rem;
  padding-left: 1.25rem;
}

.team .team-members .section-header {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 0.875rem;
  color: #fff;
  margin-bottom: 1.0625rem;
  position: relative;
}

.team .team-members .section-header::before {
  position: absolute;
  content: '';
  left: -1.25rem;
  top: 0.3125rem;
  width: 0;
  height: 0;
  border: 0.3125rem solid transparent;
  border-top: 0.3125rem solid #f9b43b;
}

.team .team-members .team-member__container {
  overflow: hidden;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.team .team-members .team-member__image {
  margin-right: 1.25rem;
}

.team .team-members .team-member__image img {
  border-radius: 50%;
}

.team .team-members .team-member__info {
  max-width: 16.875rem;
  font-weight: 300;
}

.team .team-members .team-member__info h5 {
  font-weight: bold;
  margin-bottom: 1.125rem;
}

.team .team-members .team-member_active .team-member__container {
  height: auto;
}

.team .team-members .team-member_active .section-header {
  color: #f9b43b;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../image/menu/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.menu > .section-header {
  margin-left: 6.25rem;
  margin-top: 6.875rem;
}

.menu .menu-accordion {
  margin-left: auto;
}

.menu .menu-accordion .menu-accordion__items {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.menu .menu-accordion .menu-accordion__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.menu .menu-accordion .menu-accordion__item .menu-accordion__item-text {
  width: 0;
  overflow: hidden;
}

.menu .menu-accordion .menu-accordion__item.menu-accordion__item_active .menu-accordion__item-text {
  padding: 20px 10px 0;
  width: 540px;
}

.menu .menu-accordion .menu-accordion__item.menu-accordion__item_meat .menu-accordion__item-link {
  background-image: url(../image/menu/meat-background.png);
}

.menu .menu-accordion .menu-accordion__item.menu-accordion__item_vegan .menu-accordion__item-link {
  background-image: url(../image/menu/vegan-background.png);
}

.menu .menu-accordion .menu-accordion__item.menu-accordion__item_diet .menu-accordion__item-link {
  background-image: url(../image/menu/diet-background.png);
}

.menu .menu-accordion .menu-accordion__item .menu-accordion__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 80px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.menu .menu-accordion .menu-accordion__item .menu-accordion__item-link::before {
  height: inherit;
  content: '';
  background-color: rgba(20, 20, 20, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.menu .menu-accordion .menu-accordion__item .section-header_white {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-top: auto;
  padding-left: 3.75rem;
  white-space: nowrap;
}

.reviews .reviews__items {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.reviews .reviews__item {
  width: 25%;
  height: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.reviews .reviews__item-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.reviews .reviews__item-review {
  background-color: rgba(20, 20, 20, 0.7);
  height: 100%;
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.reviews .reviews__item-review:hover {
  opacity: 1;
}

.reviews .reviews__item-review .reviews__item-wrap {
  max-width: 14.0625rem;
}

.reviews .reviews__item-review .section-header_mini-white {
  color: #fff;
  font-size: 0.875rem;
  line-height: 0.875rem;
  margin-bottom: 1.875rem;
}

.reviews .reviews__item-review .reviews__item-text {
  margin-bottom: 1.125rem;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.reviews .reviews__item-review .reviews__item-btn {
  background-color: #2f3234;
}

.work {
  background-image: url(../image/work/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.delivery {
  background-image: url(../image/delivery/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.delivery-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.delivery-form .section-header_yellow {
  margin: 0 auto 2.75rem;
}

.delivery-form .delivery-form__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28.75rem;
          flex: 0 1 28.75rem;
}

.delivery-form .delivery-form__column input[type="text"],
.delivery-form .delivery-form__column input[type="tel"],
.delivery-form .delivery-form__column textarea {
  width: 100%;
  border-radius: 0.25rem;
  outline: none;
  border: 0.0625rem solid #d1cfcb;
  padding: 0.25rem 1.125rem;
}

.delivery-form .delivery-form__column .delivery-form__label-name {
  color: #fff;
  font-size: 0.875rem;
  line-height: 0.875rem;
  display: inline-block;
  margin-bottom: 0.5625rem;
}

.delivery-form .delivery-form__column_buyer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.delivery-form .delivery-form__column_buyer label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.25rem;
          flex: 0 0 6.25rem;
}

.delivery-form .delivery-form__column_buyer input {
  line-height: 1.5625rem;
  margin-bottom: 1.25rem;
}

.delivery-form .delivery-form__column_buyer .delivery-form__name,
.delivery-form .delivery-form__column_buyer .delivery-form__phone {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 13.75rem;
          flex: 0 0 13.75rem;
}

.delivery-form .delivery-form__column_buyer .delivery-form__street {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.delivery-form .delivery-form__column_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.delivery-form .delivery-form__column_info .delivery-form__comment {
  width: 100%;
  margin-bottom: 1.25rem;
}

.delivery-form .delivery-form__column_info .delivery-form__comment textarea {
  resize: none;
  height: 6.8125rem;
}

.delivery-form .delivery-form__column_info .delivery-form__change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.3125rem;
}

.delivery-form .delivery-form__column_info .delivery-form__change input[type='radio'] {
  display: none;
}

.delivery-form .delivery-form__column_info .delivery-form__change .delivery-form__change-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.delivery-form .delivery-form__column_info .delivery-form__change .delivery-form__change-item:first-child {
  margin-right: 1.25rem;
}

.delivery-form .delivery-form__column_info .delivery-form__change .delivery-form__change-item .delivery-form__label-name {
  margin: 0;
}

.delivery-form .delivery-form__column_info .delivery-form__change .delivery-form__change-item .delivery-form__change-input:checked + .delivery-form__radio-btn::before {
  opacity: 1;
}

.delivery-form .delivery-form__column_info .delivery-form__change .delivery-form__radio-btn {
  width: 0.9375rem;
  height: 0.9375rem;
  margin-right: 0.625rem;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
}

.delivery-form .delivery-form__column_info .delivery-form__change .delivery-form__radio-btn::before {
  position: absolute;
  content: '';
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0.4375rem;
  height: 0.4375rem;
  border-radius: 50%;
  opacity: 0;
  background-color: #e35028;
}

.delivery-form .delivery-form__column_info .delivery-form__call-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem;
}

.delivery-form .delivery-form__column_info .delivery-form__call-back .delivery-form__input-call {
  display: none;
}

.delivery-form .delivery-form__column_info .delivery-form__call-back .delivery-form__chek-call {
  margin-right: 0.625rem;
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: #fff;
}

.delivery-form .delivery-form__column_info .delivery-form__call-back .delivery-form__chek-call .chek-mark {
  opacity: 0;
}

.delivery-form .delivery-form__column_info .delivery-form__call-back .delivery-form__input-call:checked + .delivery-form__chek-call .chek-mark {
  opacity: 1;
}

.delivery-form .delivery-form__column_info .delivery-form__btn .delivery-form__btn_submit {
  border: none;
  margin-right: 1.25rem;
}

.delivery-form .delivery-form__column_info .delivery-form__btn .delivery-form__btn_reset {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 0.875rem;
}

.contacts {
  background-image: url(../image/contacts/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 3.75rem;
  width: 100%;
  background-image: url(../image/footer/background.png);
}

.footer .footer-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-container .copyright,
.footer .footer-container .social {
  width: 50%;
  color: #fff;
}

.footer .footer-container .copyright svg,
.footer .footer-container .social svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: #fff;
  opacity: .3;
}

.footer .footer-container .copyright svg:hover,
.footer .footer-container .social svg:hover {
  opacity: 1;
}

.footer .footer-container .copyright .phone-svg,
.footer .footer-container .social .phone-svg {
  width: 0.75rem;
  height: 0.6875rem;
  opacity: 1;
}

.footer .footer-container .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .footer-container .social svg {
  margin: 0 10px;
}
/*# sourceMappingURL=main.css.map */