.dark-burger {
    background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
    color: $WHITE;

    .slider{
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        
        .slider__link{
            transform: rotate(90deg);
            &.slider__link_right{
                transform: rotate(-90deg);}
        }

        .slider__wrap{
            overflow: hidden;
            flex-grow: 1;
        }
        .slider__items{
            list-style-type: none;
            max-height: 457px;
            display: flex;
        }
        .slider__item{
            flex-shrink: 0;
            flex-basis: 100%;
        }
    }



    .dark-burger__proffer {
        display: flex;

        .dark-burger__proffer-image,
        .dark-burger__proffer-info {
            width: 50%;
        }
    }

    .dark-burger__proffer-image {
        position: relative;

        .dark-burger__proffer-kkal{
            width: 3.75rem;
            height: 3.75rem;
            text-align: center;
             
            .dark-burger__kkal-svg{
                height: 3.75rem;
            }  

            span{
                font-family: "gagalin";
                opacity: .5;
                font-size: 0.875rem;
                display: block;
                &:nth-child(2){
                    font-size: 1.25rem;
                    margin: -2.375rem 0 0.625rem 0.125rem;
                }
            }
        }

        .dark-burger__proffer-composition{
            margin-bottom: -5px;
            width: 5.625rem;
            height: 5.625rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            background: #F08C33;
            border-radius: 0.25rem;

            .dark-burger__burger-svg{
                height: 2.75rem;
            }
            div{
                font-family: "gagalin";
                font-size: 0.875rem;
                margin-top: 0.5625rem;
            }      
        }

    }

    .dark-burger__proffer-info {
        .section-header {
            margin-bottom: 3.5rem;
        }

        p {
            margin-bottom: 2.25rem;
        }


        .dark-burger__proffer-price {
            display: flex;
            align-items: center;

            .price {
                line-height: 3.25rem;
                color: $TOMATO;
                font-family: "gagalin";
                font-size: 4.5rem;
                letter-spacing: -0.1119rem;
                margin-right: 1.875rem;

                span {
                    font-size: 1.875rem;
                }
            }
            .btn{
                align-self: flex-end;
            }
        }
    }
}