.team{
    background-image: url(../image/team/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .container{
        max-width: none;
        align-items: flex-end;
    }
    .team-people{
        width: 50%;
        padding: 0 0 0 100px;
        background-color: $GRAY;
        opacity: .9;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section-header{
        color: $YELLOW;
        margin-bottom: 46px;
    }
    .team-members{
        list-style-type: none;
        .team-member{
            margin-bottom: 40px;
            padding-left: 20px;
            
        }

        .section-header{
            display: inline-block;
            font-size: 14px;
            line-height: 14px;
            color: $WHITE;
            margin-bottom: 17px;
            position: relative;
            &::before{
                position: absolute;
                content: '';
                left: -20px;
                top: 5px;
                width: 0;
                height: 0;
                border: 5px solid transparent;
                border-top: 5px solid $YELLOW;
            }
        }

        .team-member__container{
            overflow: hidden;
            height: 0;
            display: flex;
            align-items: center;
            color: $WHITE;

        }

        .team-member__image{
            margin-right: 20px;

            img{
                border-radius: 50%;
            }
        }
        .team-member__info{
            max-width: 270px;
            h5{
                font-weight: bold;
                margin-bottom: 18px;
            }
            font-weight: 300;
        }
        .team-member_active {
            .team-member__container{
                height: auto;
            }
            .section-header{
                color: $YELLOW;
            }
        }
    }

}